<%= render 'loading_modal' %>

<section class="padded color">
  <div class="container">
    <div class="col-sm-12 col-md-6 application-text">
      <h1>This is some <span>fancy</span> header text.</h1>
      <p>It sure is, Bob. Why, I don't know if I can handle it I'm just so excited reading this Raleway font, ya know?</p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-circle-o"></i> Fully responsive thanks to bootstrap classes.</li>
        <li><i class="fa-li fa fa-check-circle-o"></i> <%= link_to "Animate.css", "http://daneden.github.io/animate.css/" %> plugin makes it tickle when you mouse over me </li>
        <li><i class="fa-li fa fa-check-circle-o"></i> Form has poor man's validation and dynamic text formatting (no plugins)</li>
        <li><i class="fa-li fa fa-check-circle-o"></i> Loading screen should make you smile.</li>
        <li><i class="fa-li fa fa-check-circle-o"></i> There's a growl alert waiting for you after you submit!</li>
        <li><i class="fa-li fa fa-check-circle-o"></i> Maybe we should have made them actual checkboxes...</li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-5 col-md-offset-1 application-form">
      <%= form_for(@user, html: {class: "form-horizontal" }) do |f| %>
      <div class="panel form-header">
        <h2 class="text-center">Get your <span>free</span> approval</h2>
      </div>
      <div class="form-body">
        <p class="small">You better believe there's at least basic validation on these bad boys. Try and stop it...</p>
          <div class="form-group">
            <%= f.label :name, class: "control-label col-xs-2" %>
            <div class="col-xs-10">
              <%= f.text_field :name, placeholder: "full name", class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :dob, class: "control-label col-xs-2" %>
            <div class="col-xs-10">
              <%= f.text_field :dob, placeholder: "mm/dd/yyyy", class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :ssn, class: "control-label col-xs-2" %>
            <div class="col-xs-10">
              <%= f.text_field :ssn, placeholder: "xxx-xx-xxxx", maxlength: 11, class: "form-control" %>
            </div>
          </div>
          <p class="form-errors">Please make sure all fields have something in them!</p>
        </div>
        <div class="actions">
          <%= f.submit "Apply Now", class: "btn btn-primary btn-lg w100" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="padded">
  <div class="container">
    <div class="col-xs-12">
      <h1 class="text-center">More content goes underneath</h1>
      <p>You got that right Chip! Lorem ipsum</p>
    </div>
  </div>
</section>